streamlit
gunicorn
argon2-cffi
azure-identity
fastapi
flask
httpx
matplotlib
nest-asyncio
numpy
openai
boto3
openai-agents
pandas
captcha
pyyaml
python-dotenv
pyarrow
streamlit-cookies-manager
tabulate
tiktoken
uvicorn
